@model LobbyModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="lobby">
    <section class="h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="container">
                                <div class="form-row d-flex justify-content-center align-items-center">
                                    <input type="text" id="passwordInput"/>
                                    <button class="btn btn-primary my-3" id="createButton">New Game</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lobby.js"></script>