@model GameSetup

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="lobby">
    <section class="h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="container">
                                <div class="form-row d-flex justify-content-center align-items-center">
                                    @using (Html.BeginForm("Play", "Game"))
                                    {
                                        @Html.LabelFor(t => t.Id)
                                        @Html.TextBoxFor(t => t.Id, new { placeholder = "id" })
                                        @Html.LabelFor(t => t.Password)
                                        @Html.TextBoxFor(t => t.Password, new { placeholder = "pw" })
                                        @* <input type="text" id="passwordInput" placeholder="pw"/> *@
                                        @* <input type="text" id="idInput" placeholder="id"/> *@
                                        <input type="submit" class="btn btn-primary" content="Join"/>
                                        @* <button class="btn btn-primary" id="joinButton">Join Game</button> *@
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@* <script src="~/js/signalr/dist/browser/signalr.js"></script> *@
@* <script src="~/js/lobby.js"></script> *@