@{
    ViewBag.Title = "title";
    Layout = "_layout";
}

<link rel="stylesheet" href="~/css/gamelayout.css"/>
@* Modal for join game *@
<div class="modal" id="joinGameModal" tabindex="-1" role="dialog" aria-labelledby="joinGameModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinGameModalLabel">Create a new game or join an existing</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="GameCode" class="form-label">Game code</label>
                    <input type="text" maxlength="25" class="form-control" id="GameCode" placeholder="XXXXXX">
                    <label for="UserName" class="form-label" id="UserNameLabel">Username</label>
                    <input type="text" maxlength="25" class="form-control" id="UserName" placeholder="USERNAME">
                </div>
                <div class="mb-3" id="error-message">
                    <p class="alert alert-danger" role="alert" id="error-message-content"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary menuButton">Menu</button>
                <button class="btn btn-primary" id="playButton">Play</button>
            </div>
        </div>
    </div>
</div>

@* Modal for finish game *@
<div class="modal" id="finishGameModal" tabindex="-1" role="dialog" aria-labelledby="finishGameModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finishGameModalLabel">Game finished!</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3" id="finish-message">
                    <p class="alert alert-success" role="alert" id="finish-message-content"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary menuButton">Menu</button>
                <button class="btn btn-primary" id="rePlayButton">Play again</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="parent">
        <div class="div1 text-center">     
            <h3 id="gameIdHeader" class="card-title">XXXXXX</h3> 
        </div>
    
        <div class="div2">
            <div class="list-group align-content-center" id="buildingSelectList">
                @* Buttons will be generated here *@
            </div>
        </div>
    
        <div class="div3">
            <div class="gameContainer">
                <canvas id="game"></canvas>
            </div>
        </div>
    
        <div class="div4">
            <ul class="list-group" id="connectedUserList">
                @*Users will be generated here*@
            </ul>
        </div>
    
        <div class="div5 align-content-center">
            <button class="btn btn-primary" id="startButton">Start</button>
        </div>
    
        <div class="div6 text-center">
            <div class="alert alert-danger" role="alert" id="GamePlayErrorMessage">Err0r</div>
            <div class="alert alert-success" role="alert" id="GamePlayMessage">M3ssage</div>
        </div>
    
        <div class="div7 text-center"> 
            <p id="score">0</p>
        </div>
    </div>
</div>

<template id="user-list-item">
    <div class="list-group-item" id="item">
        <div class="d-flex flex-column">
            <div>
                <p class="font-weight-bold" id="userName">USERNAME</p>
            </div>
            <div>
                <p class="text-muted text-sm" id="point">15 points</p>
            </div>
        </div>
        </div>

</template>

@* Keep order *@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
