@model GameSetup

@{
    ViewBag.Title = "Play";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/gamelayout.css"/>

<div class="hide">
    @Html.TextBoxFor(t => t.Id, new { id = "idInput", @class = "hide" })
    @Html.TextBoxFor(t => t.Password, new { id = "pwInput", @class = "hide" })
</div>

<div class="container text-center">
    <h3 id="gameIdHeader" class="card-title">XXXXXX</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="list-group align-content-center" id="buildingSelectList">
                @* Buttons will be generated here *@
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="gameContainer">
                <canvas id="game"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game2.js"></script>