<button id="removeAll" class="btn btn-danger">Remove all finished games</button>

<p>Click a game to remove it</p>

<div class="btn-group-vertical" id="gameList"></div>


@* Keep order *@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/moderator.js"></script>