@{
    ViewData["Title"] = "RoleManager";
}

<h1>Roles</h1>

@using (Html.BeginForm("OnPost", "Role", FormMethod.Post))
{
    <label for="userSelect">Select Username</label>
    <select name="users" id="userSelect">
        @foreach (string user in ViewBag.Users)
        {
            <option value="@user">@user</option>
        }
    </select>
    <br/>

    <label for="roleSelect">Select New Role</label>
    <select name="roles" id="roleSelect">
        <option value="user">User</option>
        <option value="moderator">Moderator</option>
        <option value="admin">Admin</option>
    </select>
    <br/>

    <input type="checkbox" id="deleteUserCheckbox" name="deleteUserCheckbox" value="0">
    <label for="demoCheckbox"> Delete user?</label>

    <button class="btn btn-primary" id="submitRoleChange">Change role</button>
}

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}


@section Scripts {
    <script src="~/js/roleManager.js"></script>
}