@model AccountDetails
@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="d-flex flex-sm-row flex-column justify-content-evenly flex-wrap">
        <section class="p-2 border rounded">
            <h3>@Model.Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
        <section class="p-2  border rounded">
            <h3>Image</h3>
            @* Replace with actual image *@
            <img src="favicon.ico" alt="Image of developer"/>
        </section>
        <section class="p-2 border rounded">
            <h3>Skillset</h3>
            <p>Hier komtasdasd info over de developer</p>
        </section>
        <section class="p-2 border rounded">
            <h3>Opleiding en werkervaring</h3>
            <p>Meer info</p>
        </section>
    </div>
</div>
