@* @model TModel *@

@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>

<html lang="nl">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4 text-light">@ViewData["Title"]</h1>
    <h4 class="display-8 text-light">Neem contact op met Jaël Kwakkel</h4>

    <section class="justify-content-center flex-row">
        <form class="w-50 offset-3">
            <div class="form-group">
                <label for="emailInput" class="text-light">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required>
            </div>

            <div class="form-group">
                <label for="subjectInput" class="text-light">Subject</label>
                <input type="text" class="form-control" id="subjectInput" maxlength="200" required>
            </div>

            <div class="form-group">
                <label for="messageInput" class="text-light">Message</label>
                <textarea class="form-control" id="messageInput" rows="5" maxlength="600" required></textarea>
            </div>
        </form>
    </section>
</div>
</body>
</html>