@using Setup.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SetupUser> SignInManager
@inject UserManager<SetupUser> UserManager


@*Linkje naar Game, Scores en Login-pagina*@
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Welcome</h5>
            <button onclick="window.location.href='/game'" type="button" class="btn btn-success btn-lg"><i class="bi-play-circle-fill"></i> Play</button>
            @if (SignInManager.IsSignedIn(User))
            {
                <button onclick="window.location.href='/home/scores'" type="button" class="btn btn-warning btn-lg"><i class="bi-trophy-fill"></i> Scores</button>
            }
            else
            {
                <button onclick="window.location.href='/Identity/Account/Login'" type="button" class="btn btn-dark btn-lg"><i class="bi-box-arrow-right"></i> Login</button>
            }

            @if (User.IsInRole("admin"))
            {
                <button onclick="window.location.href='/role/rolemanager'" type="button" class="btn btn-danger btn-lg"><i class="bi-person-plus-fill"></i> ADMIN</button>
            }

            @if (User.IsInRole("moderator"))
            {
                <button onclick="window.location.href='/role/gamemanager'" type="button" class="btn btn-danger btn-lg"><i class="bi-terminal-fill"></i> MODERATOR</button>
            }
        </div>
    </div>
</div>


@*@{
    ViewData["Title"] = "Home Page";
}*@

@* Cookie counter *@

@* <div class="text-center"> *@
@*     <h1 class="display-4 text-light">Setup</h1> *@
@*     <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*     <p class="text-light">Deze view is @Model.AmountOfPageViews keer bekeken</p> *@
@* </div> *@

@* <div class="container"> *@
@*     <div class="row p-1"> *@
@*         <div class="col-1">User</div> *@
@*         <div class="col-5"> *@
@*             <input type="text" id="userInput"/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-1">Message</div> *@
@*         <div class="col-5"> *@
@*             <input type="text" class="w-100" id="messageInput"/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-1">Group</div> *@
@*         <div class="col-5"> *@
@*             <input type="text" class="w-100" id="groupInput"/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6 text-end"> *@
@*             <input type="button" id="sendButton" value="Send Message"/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6 text-end"> *@
@*             <input type="button" id="joinGroupButton" value="Join group"/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6"> *@
@*             <hr/> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6"> *@
@*             <ul id="messagesList"></ul> *@
@*         </div> *@
@*     </div> *@
@* </div> *@