@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

@* Cookie counter *@

@* <div class="text-center"> *@
@*     <h1 class="display-4 text-light">Setup</h1> *@
@*     <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*     <p class="text-light">Deze view is @Model.AmountOfPageViews keer bekeken</p> *@
@* </div> *@