@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

house
<a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a>
<br>street
<a href="https://www.flaticon.com/free-icons/street" title="street icons">Street icons created by Freepik - Flaticon</a>
<br>cinema
<a href="https://www.flaticon.com/free-icons/film" title="film icons">Film icons created by fjstudio - Flaticon</a>
<br>farm
<a href="https://www.flaticon.com/free-icons/farm" title="farm icons">Farm icons created by Freepik - Flaticon</a>
<br>energy_small
<a href="https://www.flaticon.com/free-icons/energy" title="energy icons">Energy icons created by nawicon - Flaticon</a>
<br>energy_large
<a href="https://www.flaticon.com/free-icons/price-up" title="price up icons">Price up icons created by Freepik - Flaticon</a>
<br>school
<a href="https://www.flaticon.com/free-icons/school" title="school icons">School icons created by Kiranshastry - Flaticon</a>
<br>factory
<a href="https://www.flaticon.com/free-icons/industry" title="industry icons">Industry icons created by Freepik - Flaticon</a>