@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

House
<a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a>
<br>Street
<a href="https://www.flaticon.com/free-icons/Street" title="Street icons">Street icons created by Freepik - Flaticon</a>
<br>Cinema
<a href="https://www.flaticon.com/free-icons/film" title="film icons">Film icons created by fjstudio - Flaticon</a>
<br>Farm
<a href="https://www.flaticon.com/free-icons/Farm" title="Farm icons">Farm icons created by Freepik - Flaticon</a>
<br>EnergySmall
<a href="https://www.flaticon.com/free-icons/energy" title="energy icons">Energy icons created by nawicon - Flaticon</a>
<br>EnergyLarge
<a href="https://www.flaticon.com/free-icons/price-up" title="price up icons">Price up icons created by Freepik - Flaticon</a>
<br>School
<a href="https://www.flaticon.com/free-icons/School" title="School icons">School icons created by Kiranshastry - Flaticon</a>
<br>Factory
<a href="https://www.flaticon.com/free-icons/industry" title="industry icons">Industry icons created by Freepik - Flaticon</a>