name: Update dependencies
on: 
  schedule:
    - cron: '0 8 * * 4' # every thursday @ AM 8:00
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:
    name: "Update all nugets to latest version"
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: update packages
      id: update
      uses: tjololo/nuget-dependencies-update@v1
      with:
        version-limit: 'minor'
        comment-updated: true
        ignore: |
          StackExchange.Redis.Extensions.Newtonsoft

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        title: "Updated nuget dependencies"
        body: ${{ steps.update.outputs.body }}
        reviewers: tjololo
        labels: dependencies
